.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

.col{
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}

.container .col .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ddd;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

#pila{
  float: right; 
  width: 40%;
  border-radius: 14px;
  border: 6px solid #ddd;
 
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

.btn:hover {background: #eee;}

body {
  background-image: url("paper.gif");
  background-repeat: no-repeat;
  background-size: cover;
}


li {
  color: rgb(255, 255, 255);
  padding-bottom: 10px 
}

#output {
  display: inline-block;
  width: 250px;
  height: 40px;
  background-color: white;
}
h1 {
  padding: 5x 0;
  margin: 0;
  margin-bottom: 15px;
  font-size: 36px;
  color: black;
  text-align: center;
}

.col-6 {
  opacity: .75;
  margin-bottom: 5px;
  padding-left: 20px;
  
}
.card > p {
  padding-top: 5px;
  font-weight: bolder;
  margin-left: 100px;
  font-size: 16px;
}

.div1 {
  background: rgba(0, 132, 255, 0.1);
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.base-conditions {
  padding-right: 300px;
  padding-bottom: 10px;
}

.peak-conditions {
  padding-right: 300px
}

#buy-pass {
  padding-right: 1000px;
}

.footer {
  width: 100vw;
  display: block;
  overflow: hidden;
  padding: 30px 0;
  box-sizing: border-box;
  background-color: rgb(131, 156, 156);
  position: relative;
  bottom: 0;
}

.inner-footer {
  display: block;
  margin: 0 auto;
  width: 1100px;
  height: 100%;
}

h4 {
  padding: 10px 0;
  margin: 0;
  margin-bottom: 5px;
  font-size: 24px;
  color: black;
  text-align: center;
}

.container-fluid {
  margin: auto;
}

#google-map {
  max-width: 95%;
  height: auto;
  margin-top: 100px;
  padding-left: 10px;
 
}
.map-responsive{
  overflow:hidden;
  padding-bottom:400px;
  position:relative;
  height:0;
}
.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  max-width:38.5%;
  position:absolute;
  padding-left: 10px;
  padding-bottom: 20px;
}

#runs_image{
 max-width: 95%;
  height: auto;
  padding: 10px;

}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 1px 1px;
  padding: 10px 0;
  margin: 0;
  margin-bottom: 5px;
  font-size: 34px;
  font-weight: bold;
  color: black;
  text-align: center;
  text-decoration: underline;
  padding-bottom: 20px;
  padding-left: 50px;
}
h2.intro-h {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 1px 1px ;
  padding: 10px 0;
  margin: 0;
  margin-bottom: 5px;
  font-size: 34px;
  font-weight: bold;
  color: black;
  text-align: left;
  text-decoration: underline;
  padding-bottom: 20px;
  padding-left: 50px;
}


.ski-list{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  color: black;
}

.Pila-list{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: black;
  padding-left: 20px;
  padding-right: 35%;
  text-shadow: 1px 1px;
}

.intro-text{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  font-size: 20px;
  padding: 20px;
  padding-right: 35%;
  text-shadow: 1px 1px;
  
}

.map-text{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  font-size: 16px;
}

/* Fun Zone starts below */
#animateSki {
  height: 50px; width: 50px;
  position: absolute;
  left: 48%;
  bottom: 5px;

  -webkit-animation: linear infinite alternate;
  -webkit-animation-name: run;
  -webkit-animation-duration: 3s;
}
@-webkit-keyframes run {
  0% {
  }
  100% {
    
    -webkit-transform: scaleX(-1);
  }
}