.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

.col{
  padding-bottom: 20px;
}

.container .col .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ddd;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

#pila{
  float: right; 
  width: 40%;
  border-radius: 14px;
  border: 6px solid #ddd;
 
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

.btn:hover {background: #eee;}

body {
  background-image: url("paper.gif");
  background-repeat: no-repeat;
  background-size: cover;
}


li {
  color: white;
}

.footer {
  width: 100vw;
  display: block;
  overflow: hidden;
  padding: 30px 0;
  box-sizing: border-box;
  background-color: rgb(131, 156, 156);
  position: absolute;
  bottom: 0;
}

.inner-footer {
  display: block;
  margin: 0 auto;
  width: 1100px;
  height: 100%;